body {
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
}

body > .card {
    margin: 140px auto;
}
/* card styling */
.card {
    width: 280px;
    height: 100%;
    border-radius: 20px;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
    gap: 12px;
}

.card-body {
    color: white;
    height: 100%;
    padding-top: 50px;
}

.avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    justify-content: center;
}

.card-main {
    padding-top: 20px;
}

.card-title {
    padding-bottom: 24px;
}

.name {
    padding-bottom: 9px;
    font-weight: 700;
    font-size: 1.876em;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    font-weight: 400;
}

.description {
    font-size: 14px;
    padding-bottom: 5px;
}

.button {
    border-radius: 4px;
    background-color: hsl(0, 0%, 20%);
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: hsl(0, 0%, 30%);
}

.social-links {
    padding-bottom: 10px;
}

/* bottom "footer" dedication section */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution dedication { 
    color: hsl(228, 45%, 44%); 
}